*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.container{
	max-width: 950px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row:after{
	content: '';
	display: block;
	clear: both;
}
.col-md-6{
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 50%;
}
.hero {
	position: relative;
	height: auto;
}
.hero .overlay{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
}
.hero img{
	width: 100%;
	height: auto;
}
.hero .cont-wrp{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.hero .cont-wrp input{
    width: 300px;
    height: 50px;
    border: 1px solid green;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    font-size: 20px;
}

/*brands styling*/

.brands h2{
    font-size: 40px;
    line-height: 1.2;
    color: #4b3b37;
    margin-bottom: 30px;
}
.brands div{
	padding-left: 0;
	margin-bottom: 50px;
}
.brands div a{
    border-left: 4px solid #acd424;
    list-style-type: none;
    padding: 10px 20px;
		font-size: 1.09em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #222222;
		display: block;
}

/*results styling*/
.results {
	padding-top: 50px;
	padding-bottom: 50px;
}
.results table {
    margin-top: 3px;
    margin-bottom: 0;
    background: #fff;
    position: relative;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
    width: 100%;
}
.results table th {
    font-size: 1.75em;
    margin-bottom: 2px;
    margin-left: 0px;
    color: #4b3b37;
    background: none;
    text-transform: capitalize;
    border-bottom: 4px solid #ccc;
}
.results table td {
    border-bottom: 2px solid #ccc;
    font-size: .875em;
    padding: 8px 8px 8px 20px;
    color: #222;
    border-top: 1px solid #e6e6e6;
    text-align: left;
    vertical-align: top;
}
.results table tr{
	border-bottom: 2px solid #ccc;
}
.results .image-wrp{
	text-align: right;
}
.btn-wrp{
    text-align: center;
}
.btn-wrp #btn{
    width: 140px;
    height: 35px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3abd3a;
    border: 0;
    margin-top: 20px;
}
@media (max-width: 991px){
    .col-md-6{
        width: 100%;
    }
    .results .image-wrp {
        text-align: center;
        padding-top: 20px;
    }
}